*
{
    margin: 0;
    padding: 0;
}

/* index page styling */
body
{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);    
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body footer
{
    background-color: whitesmoke;
    margin: auto;
    padding: 5px;
    text-align: center;
    border-radius: 19px;
}

.headTitle
{
    margin: 50px;
    padding: 5px;
    text-align: center;
    font-size: 30px;

    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
}

.codeTalkers
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: gray;
    font-size: 60px;
    /* margin-top: 50px;
    margin-left: 50px; */
}

.codeTalker h1
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: gray;
    font-size: 60px;
    margin: auto;
    /* margin-top: 50px;
    margin-left: 50px; */
}

.disc
{
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
}
  

.container_index
{
    width: 90%;
    height: 8%;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 18px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
}

.container_index .HomeButton
{
    width: 50%;
    height: 80%;
    margin: 5px 5px 5px 5px;
    padding: 2px;
    border-radius: 19px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 1;
}

.container_index .HomeButton:hover
{
    background-color: #de9b2f;
    transition: .5s;
}

.container_index #Register:hover
{
    background-color: #2fde2f;
    transition: .5s;
}

/* login page styling */

.codeTalker
{
    margin: auto;
}

.container_login
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-shrink: 1;

    background-color: aliceblue;
    width: 40%;
    height: 60vh;
    margin: auto;
    border-radius: 19px;
    padding: 10px;

}

.container_login h1
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-bottom: 20px;   
}

.text_area
{
    display: flex;
    padding: 2px;
    margin: 5px;
    justify-content:center;
    text-align: center;
    justify-content: center;
    flex-shrink: 1;
}

.text_area .txtBox
{
    /* display: flex;
    text-align: center;
    justify-content: center;
    flex-shrink: 1; */

    /* min-width: 100px;
    min-height: 40px; */
    padding: 8px;
    border-radius: 19px;
    border: 2px solid aliceblue;
}

.text_area label
{
    padding: 5px;
    font-family: "Press Start 2P", system-ui;    
}

.confirmButton
{
    width: 90%;
    height: 20%;
    margin: 20px;
}

.confirm
{
    width: 50%;
    height: 80%;
    margin: 10px;
    padding: 2px;
    border-radius: 19px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;    
}

.returnBtn
{
    width: 60%;
    height: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    border-radius: 19px;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}


.confirmButton .confirm:hover
{
    background-color: #2fde2f;
    transition: .5s;
}

.confirmButton .returnBtn:hover
{
    background-color: #de9b2f;
    transition: .5s;
}

.error_message
{
    color: #de9b2f;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    padding: 2px;
}

#correct_msg
{
    color: #04fa04;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    padding: 10px;
}



/* styling dashboard */

.welcome
{
    margin: auto;
}

#challenger_name_main
{
    margin-top: 15px;
    margin-left: 50px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}


.main_title
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: gray;
    margin: auto;
    padding: 10px;
}




h2
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(211, 184, 30);
    margin: 50px;
    padding: 10px;
}

.container_main
{
    width: 50%;
    /* height: 55%; */
    background-color: aliceblue;
    border-radius: 19px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.problem_container
{
    width: 70%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* justify-items: center; */
}

.problem_container form
{
    width: 70%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* justify-items: center; */
}

.problem
{
    width: 100%;
    margin: 10px;
    padding: 5px;
    width: 50%;
    /* height: 70%; */
    border-radius: 19px;
    
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.problem:hover
{
    background-color: rgb(201, 196, 196);
    transition: .5s;
}

.user_info
{
    width: 50%;
    margin: 5px;
    padding: 5px;
}

#progress
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
}

.out
{
    margin: auto;
    padding: 10px;
    display: flex;
}

.btn_main
{
    width: 35%;
    padding: 10px;
    margin: 10px;
    border-radius: 19px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#logout
{
    background-color: #de9b2f;
}

#surrender
{
    background-color: rgb(243, 56, 56);
}

#leaderboard
{
    background-color: gold;
    transition: .5s;
}


#logout:hover
{
    background-color: #d18100;
    transition: .5s;
}
#surrender:hover
{
    background-color: rgb(243, 8, 8);
    transition: .5s;
}

#leaderboard:hover
{
    background-color: goldenrod;
    transition: .5s;
}

/* quiz page */
#challenger_name_quiz
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: auto;
    padding: 10px;
}



.container_quiz
{
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

.outer_problem
{
    margin: auto;
    width: 90%;
}

.problem_txt
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    /* margin: 10px; */
    margin: auto;
    padding: 10px;
}

#codeArea
{
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#code_label
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 10px;
}

#code
{
    
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
  width: 90%;
  height: auto;
  border-radius: 19px;
  padding: 10px;
  margin: 10px;
}

.confirm_code
{
    width: 20%;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 19px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;   
}

#code_submit:hover
{
    background-color: #04fa04;
    transition: .5s;
}

#return:hover
{
    background-color: #d18100;
    transition: .5s;
}

/* Styling result page */

.result_head
{
    margin: 50px;
}
.container_result
{
    width: 50%;
    /* height: 70%; */
    background-color: aliceblue;
    border-radius: 19px;
    margin: 50px;
    padding: 20px;
    display: flex;

    flex-direction: column;
    align-items: center;
    align-content: center;
    /* text-align: center; */
}

.container_result button:hover
{
    background-color: #d18100;
    transition: .5s;
}

.container_result h3
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 10px;
    padding: 10px;
}

.result_text
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin: 10px;
    padding: 10px;
}

.output_box
{
    width: 100%;
    border-radius: 19px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


.quiz_back
{
    width: 50%;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
/* leaderboard */

.outer_table
{
    display: flex;
    flex-direction: column;
    margin: auto;


}

.container_table
{
    background-color: aliceblue;
    border-radius: 19px;
    margin: 20px;
    padding: 10px;
    font-size: 0.9em;
    min-width: 400px;   
    border-collapse: collapse;
    
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.container_table thead tr
{
    background-color: #009879;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.container_table th,
.container_table td
{
    padding: 12px 25px;
}

.container_table tbody tr
{
    text-align: center;
    border-bottom: 10px #dddddd solid;
}


.container_table tbody tr:nth-of-type(even)
{
    background-color: 10px #f3f3f3 solid;
}

.container_table tbody tr:last-of-type()
{
    border-bottom: 2px #009879 solid;
}

.header-table
{
    margin: auto;
}

.header-table h1
{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: gray;
    margin: 10px;
    padding: 10px;
    margin: auto;
}

#retTable
{
    margin: auto;
    padding: 10px;
    border-radius: 19px;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;   
}

#retTable:hover
{
    background-color: #d18100;
    transition: .5s;
}
@media only screen and (max-width: 925px)
{
    .welcome h3{font-size: 20px;}
    .main_title h1{font-size: 20px;}
    .container_main{width: 425px;
    height: 575px;}
    .btn_main{font-size: 10px;}
}

@media only screen and (max-width: 700px) 
{
    .codeTalkers
    {font-size: 40px;}
    .container_index
    {
        width: 90%;
        height: 8%;
    }
    .container_index .HomeButton
    { 
        width: 90%;
        height: 70%;
    }
    .disc{text-align: center;}
    
    /*login page */
    .container_login
    {
        flex-wrap: wrap;
        height: 400px;
        width: 300px;
    }
    .codeTalker h1{font-size: 40px;}

    .confirm{
        width: 100px;
        height: 35px;
        font-size: small bold;
    }

    .returnBtn
    {
        width: 100px;
        height: 35px;
        font-size: small bold;
    }
    
    .text_area label
    {
        font-size: smaller bold;
    }
    .text_area .txtBox
    {
        width: 140px;
        height: 55px;
    }

    /* quiz page */
    .confirm_code
    {
        font-size: 10px;
    }

}