{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="headTitle"><h1>Welcome to <span class="codeTalkers">codeTalkers</span></h1></div>

<div class="disc"><p>Join millions of challengers around the globe, and be a codeTalker!</p></div>


<div class="container_index">
        <button class="HomeButton" id="Login">Login</button>
        <button class="HomeButton" id="Register">Register Now</button>
</div>
    <script src="../static/script.js"></script>

    <footer class="foot">
        <a href=""><p>about codeTalkers</p></a>
    </footer>
{% endblock %}