

{% extends "base.html" %}

{% block title %}Login{% endblock %}





{% block content %}

<div class="container_login">
        <h1>Login</h1>

        <form action="/main" method="post" class="login-form">
            <div class="text_area">

                <label for="userName">User Name</label>
                <input type="text" id="userName" name="userName" class="txtBox" placeholder="write your name" required>
                <span></span>
               

            </div>
        
            <div class="text_area">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="txtBox"placeholder="your password" required>
                <span></span>
                
            </div>
            
            <div class="confirmButton">
                <button class="confirm" id="loginButton" type="submit" name="page_id" value="log_id">Login</button>
                <a href="/"><button type="button" class="returnBtn" id="return">Return</button></a>
            </div>
        </form>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            
                {% for message in messages %}
                    <p id="error_message">{{ message }}</p>
                {% endfor %}
           
        {% endif %}
{% endwith %}




{% endblock %}