{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}


<div class="welcome"><h3 id="challenger_name_main">{{DATA}} : <span id="userName"> {{NAME}}</span></h3></div>

<div class="main_title"><h1>Dashboard</h1></div>
<div class="container_main">
    {% if DATA == "logged" %}
    
    
    <!--flash message if logging in successfully-->
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                
                    {% for message in messages %}
                        <p id="correct_msg">{{ message }}</p>
                    {% endfor %}
               
            {% endif %}
        {% endwith %}
    
    <h2 id="problem_head">Select a problem</h2>
        
        <div class="problem_container">
            <form action="/quiz" method="get">
                <button class="problem" name="problem_description" id="btn_1" type="submit" value="problem_1">Quiz 1</button>
                <button class="problem" name="problem_description" id="btn_2" type="submit" value="problem_2">Quiz 2</button>
                <button class="problem" name="problem_description" id="btn_3" type="submit" value="problem_3">Quiz 3</button>
                <button class="problem" name="problem_description" id="btn_4" type="submit" value="problem_4">Quiz 4</button>
                <button class="problem" name="problem_description" id="btn_5" type="submit" value="problem_5">Quiz 5</button>
                <input type="hidden" name = "userName" value="{{NAME}}">
            </form>
        </div>
        
        <div class="user_info">
            <h2>Your Progress</h2>
            <h3 id="progress">{{INFO}}%</h3>
        </div>
        <div class="out">
            <button class="btn_main" id="logout">Logout</button>
            <button class="btn_main" id="surrender">Surrender</button>
            <button class="btn_main" id="leaderboard">Leaderboard</button>
        </div>
        
    </div>
    
{% endif %}

<script src="../static/script.js"></script>
{% endblock %}