{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard</h1>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
           
        {% endif %}
    {% endwith %}

{{DATA}}

{% if DATA == "logged" %}


<div class="container">

<h2 id="problem_head">Select your problem</h2>

<div id="problem_container">
    <ol id="problem_list">
        <li class="problem"><button type="button">Quiz 1</button></li>
        <li class="problem"><button type="button">Quiz 2</button></li>
        <li class="problem"><button type="button">Quiz 3</button></li>
        <li class="problem"><button type="button">Quiz 4</button></li>
        <li class="problem"><button type="button">Quiz 5</button></li>
    </ol>
</div>

<div id="user_info">
    <h2>Your Progress</h2>
    <h3 id="progress">{{INFO}}</h3>
</div>

</div>


{% endif %}

{% endblock %}