{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}


<h3 id="challenger_name_quiz">Challenger name: {{NAME}}</h3>

    <div class="container_quiz">

            <p class="problem_txt">{{QUIZ}}</p>
            {% if QUIZ == "problem_1" %}
                <p class="problem_txt">write a code which returns Hello World sentence</p>
            {% elif QUIZ == "problem_2" %}
                <p class="problem_txt">Write a code which print the sum of two varialbes</p>
            {% elif QUIZ == "problem_3" %}
                <p class="problem_txt">Write a code which print the subtration of two variables</p>
            {% elif QUIZ == "problem_4" %}
                <p class="problem_txt">Write a code which print the multiplication of two varialbes</p>
            {% elif QUIZ == "problem_5" %}
                <p class="problem_txt">Write a code which print the division of two varialbes</p>
            {%endif%}

        
        <div id="codeArea">

        <form action="result" method="post">
           
                <label for="code" id="code_label">Code:</label><br>
                <textarea id="code" name="code" rows="10" cols="50" placeholder="Enter your code here..." required></textarea>
                <input type="hidden" name="quiz_id" value="{{QUIZ}}">
                <input type="hidden" name="userName" value="{{NAME}}">
                <br>
                <input type="submit" value="Submit" class="confirm_code" id="code_submit">
            </form>
            <a href="/main"><button type="button" class="confirm_code" id="return">Return</button></a>
        </div>
    </div>

</div>
    <script src="../static/script.js"></script>
    

{% endblock %}