{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}

<h1>Enter Your Code</h1>

    <div class="container">

        <div id="problem_txt">
            {{QUIZ}}
            {% if QUIZ == "problem_1" %}
                <p>write a code which returns Hello World sentence</p>
            {% elif QUIZ == "problem_2" %}
                <p>Write a code which print the sum of two varialbes</p>
            {% elif QUIZ == "problem_3" %}
                <p>Write a code which print the subtration of two variables</p>
            {% elif QUIZ == "problem_4" %}
                <p>Write a code which print the multiplication of two varialbes</p>
            {% elif QUIZ == "problem_5" %}
                <p>Write a code which print the division of two varialbes</p>
            {%endif%}
             <!-- write if elif condition for the value of QUIZ value -->
            </div>

        <div><h3>Challenger name: {{NAME}}</h3></div>
        
        <form action="result" method="post">
            <div id="codeArea">
                <label for="code">Code:</label><br>
                <textarea id="code" name="code" rows="10" cols="50" placeholder="Enter your code here..." required></textarea>
                <input type="hidden" name="quiz_id" value="{{QUIZ}}">
                <input type="hidden" name="userName" value="{{NAME}}">
            </div>
            <br>
            <input type="submit" value="Submit">
        </form>
        <div id="logout_area">
            <button id="logout_Quiz">Logout</button>
        </div>
    </div>
    <script src="../static/script.js"></script>
    

{% endblock %}