
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
           
        {% endif %}
{% endwith %}



<div class="container">
    <h1>Register page</h1>
    <form action="/main" method="post">
        <div class="text_area">
            <input type="text" id="userName" name="newUserName" required>
            <span></span>
            <label for="userName">User Name</label>
        </div>
    
        <div class="text_area">
            <input type="email" id="email" name="newEmail" required>
            <span></span>
            <label for="email">User email</label>
        </div>
    
        <div class="text_area">
            <input type="password" id="Password" name="newPassword" required>
            <span></span>
            <label for="Password">Password</label>
        </div>
        
        <div class="confirmButton">
            <button id="registerButton" type="submit" name="page_id" value="reg_id" class="confirm">Register</button>
            <a href="/"><button type="button" class="returnBtn">Return</button></a>
        </div>
    </form>
    


</div>

{% endblock %}